body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

a {
    color: rgb(77, 77, 100);
    text-decoration: none;
    /* no underline */
}

.header {
    background-color: #222222;
    height: 200px;
    padding: 30px 0 0 0;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-3 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.publications-tab {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    max-height: 380px;
    margin-top: 32px;
    /* margin-bottom: 32px; */
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    overflow-y: auto;
}

.publications-card {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    max-height: 380px;
    min-height: 380px;
    /* margin-top: 1px; */
    margin-bottom: 32px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    overflow-y: auto;
}

.publication-elem {
    border-radius: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.18);
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    padding: 15px 32px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.publication-elem-button:hover {
    opacity: 0.6;
    background-image: url('https://img.icons8.com/material/24/045241/hand-drawn-star.png');
    background-size: 20px 20px;
    background-repeat: repeat-x;
}

.publication-elem-button {
    background-size: 20px 20px;
    background-repeat: repeat-x;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px;
    border: none;
}

.menu {
    height: 100px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.summary {
    height: 20px;
    width: 912px;
    display: flex;
    max-height: 40px;
    justify-content: space-evenly;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px auto 0 auto;
    background-color: #FFFFFF;
    border-top: 2px solid #37887a95;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.recommendations {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.menu-title {
    margin-bottom: 6px;
    font-weight: 500;
    color: #079A82;
}

.tab-title {
    font-weight: 500;
    color: #079A82;
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
    line-height: 48px;
    font-weight: 900;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}